{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      },
      "modules": false
    }],
    "stage-1",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "react-hot-loader/babel",
    [
      "transform-runtime",
      {
        "polyfill": false
      }
    ]
   ]
}
